@import '../../../../theme.scss';
.signin-form {
  width: 100%;
}

.signin-full-width {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

button {
  margin-right: 10px;
}
