@import '../../../../theme.scss';
.signin-form {
  width: 100%;
}

.signin-full-width {
  width: 100%;
  margin-bottom: 10px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

button {
  margin-right: 10px;
}
