<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon>edit</mat-icon>
      <h2>Edit Recipe</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form novalidate [formGroup]="recipeForm" class="recipe-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="recipe-full-width">
        <input type="text" matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="f.name.errors?.required">Please enter recipe name</mat-error>
      </mat-form-field>
      <mat-form-field class="recipe-full-width">
        <input type="text" matInput placeholder="Image URL" formControlName="imagePath">
        <mat-error *ngIf="f.imagePath.errors?.required">Please enter the absolute path to the image for the recipe</mat-error>
      </mat-form-field>
      <p *ngIf="recipeImagePath">
        <img [src]="recipeImagePath" alt="Image Preview">
      </p>
      <mat-form-field class="recipe-full-width">
        <textarea type="text" matInput placeholder="Description" rows="3" formControlName="description"></textarea>
        <mat-error *ngIf="f.description.errors?.required">Please enter a description of the recipe</mat-error>
      </mat-form-field>
      <div formArrayName="ingredients">
        <div class="ingredients" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index;" [formGroupName]="i">
          <mat-form-field class="ingredient">
            <input type="text" matInput placeholder="Ingredient" formControlName="name">
            <mat-error *ngIf="f.ingredients.controls[i].controls.name.errors?.required">Ingredient Name?</mat-error>
          </mat-form-field>
          <mat-form-field class="ingredient">
            <input type="number" matInput placeholder="Amount" formControlName="amount">
            <mat-error *ngIf="f.ingredients.controls[i].controls.amount.errors?.required">Ingredient Amount?</mat-error>
            <mat-error *ngIf="f.ingredients.controls[i].controls.amount.errors?.pattern">Not valid amount</mat-error>
          </mat-form-field>
          <button mat-icon-button color="primary" type="button" class="ingredient" (click)="onDeleteIngredient(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="recipe-full-width">
        <button mat-stroked-button color="primary" type="button" (click)="onAddIngredient()">
          <mat-icon>add</mat-icon>Add Ingredient
        </button>
      </div>
      <button mat-raised-button color="primary" [disabled]="!recipeForm.valid" type="submit">Save</button>
      <button mat-raised-button color="warn" type="button" routerLink="../">Cancel</button>
    </form>
  </mat-card-content>
</mat-card>
