<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon>info</mat-icon>
      <h2>Details</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!recipe; else recipeDetail">Please select a Recipe!</p>
    <ng-template #recipeDetail>
      <p>
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" style="max-width:400px;">
      </p>
      <h3>{{recipe.name}}</h3>
      <p>
        <button mat-raised-button [matMenuTriggerFor]="recipeMenu" color="primary">
          Manage Recipe
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #recipeMenu="matMenu">
          <button mat-menu-item (click)="onAddToShoppingList()">To Shopping List</button>
          <button mat-menu-item routerLink="edit">Edit Recipe</button>
          <button mat-menu-item>Delete Recipe</button>
        </mat-menu>
      </p>
      <p>{{recipe.description}}</p>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
      </ul>
    </ng-template>

  </mat-card-content>
</mat-card>
