<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <div class="branding">
      <img [src]="logo" />
      <span>Recipe Book</span>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let nav of navigation" (click)="sidenav.close()" [routerLink]="[nav.link]" routerLinkActive="active">
        {{nav.label}}
      </a>
      <span *ngIf="!authService.isAuthenticated()">
        <a mat-list-item *ngFor="let nav of authnavigation" (click)="sidenav.close()" [routerLink]="[nav.link]" routerLinkActive="active">
          {{nav.label}}
        </a>
      </span>
      <a mat-list-item class="nav-button" *ngIf="authService.isAuthenticated()" (click)="onLogout();sidenav.close()">
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button *ngIf="(isHandset$ | async)" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span [ngClass]="{'center': (isHandset$ | async)}" class="branding spacer">
        <a routerLink="/">
          <img [src]="logo" />
        </a>
        <a routerLink="">
          <h1>Recipe Book</h1>
        </a>
      </span>
      <span *ngIf="!(isHandset$ | async)">
        <button mat-button class="nav-button" *ngFor="let nav of navigation" [routerLink]="[nav.link]" routerLinkActive="active">
          {{nav.label}}
        </button>
        <span *ngIf="!authService.isAuthenticated()">
          <button mat-button class="nav-button" *ngFor="let nav of authnavigation" [routerLink]="[nav.link]" routerLinkActive="active">
            {{nav.label}}
          </button>
        </span>
        <button mat-button class="nav-button" *ngIf="authService.isAuthenticated()" (click)="onLogout()">
          Logout
        </button>
      </span>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="authService.isAuthenticated()">
        <mat-icon aria-label="Refresh Data">refresh</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSaveData()">Save Data</button>
        <button mat-menu-item (click)="onFetchData()">Fetch Data</button>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
