@import '../../../theme.scss';
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  height: 50px;
}

mat-toolbar a {
  color: $primary-color-text;
  text-decoration: none;
}

mat-icon {
  color: $primary-color-text;
}
