<mat-toolbar color="primary">
  <a href="#">Recipe Book</a>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="onSelect('recipes')">
          <span>Recipes</span>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="onSelect('shopping-list')">
          <span>Shopping List</span>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    Manage
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Save Data</button>
    <button mat-menu-item>Fetch Data</button>
  </mat-menu>
</mat-toolbar>
