<div class="content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <i class="fa fa-home" aria-hidden="true"></i>
        <h2>Welcome</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span *ngIf="!isAuth()">Please login to continue using the recipe book application.</span>
      <span *ngIf="isAuth()">Please navigate through the recipes and add the recipe ingredients into
        the shopping list.</span>
    </mat-card-content>
  </mat-card>
</div>
