.signup-form {
  width: 100%;
}

.signup-full-width {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  margin-right: 10px;
}
