/* You can add global styles to this file, and also import other style files */

@import '/theme.scss';
body {
  margin: 0;
  padding: 0;
}

.columns {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

/* Content Before
--------------------------------------------- */

.content {
  float: left;
  padding: 3%;
  width: 52%;
}

/* Content After
--------------------------------------------- */

.columns > .content {
  padding: 3%;
  width: 52%;
}

/* Sidebar Before
--------------------------------------------- */

.sidebar {
  float: right;
  padding: 3%;
  width: 36%;
}

/* Sidebar After
--------------------------------------------- */

.columns > .sidebar {
  padding: 3%;
  width: 36%;
}
.width100 {
  width: 100%;
}

.textcenter {
  text-align: center;
  width: 100%;
}

.textright {
  text-align: right;
  width: 100%;
}

// Creates Two and Three Column Layouts
.parent {
  display: table;
  width: 100%;
  overflow: auto;
  position: relative;
}

.threecol {
  width: 27%;
  padding: 0 3%;
  display: table-cell;
}
.twocol {
  width: 44%;
  padding: 0 3%;
  display: table-cell;
}
.left {
  float: left;
}
.center {
  display: inline-block;
}
.right {
  float: right;
}

mat-icon {
  margin-right: 10px;
}

// Mobile
@media all and (max-width: 768px) {
  .columns {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .columns > .content {
    width: 94%;
    padding: 3%;
  }
  .columns > .sidebar {
    width: 94%;
    padding: 3%;
  }
}

// Material Overides
.mat-tab-label {
  opacity: 1 !important;
  color: $primary-color-text;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  color: $primary-color-text;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: $accent-color;
}
