/* You can add global styles to this file, and also import other style files */

@import '/theme.scss';
body {
  margin: 0;
  padding: 0;
}

// Columns
.items {
  display: flex;
  flex-wrap: wrap;
}

.items .item {
  flex: 1 0 calc(25% - 10px);
  box-sizing: border-box;
  padding: 10px;
}

// Response columns
.resitems {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.resitems .resitem {
  flex: 1 0 200px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
}

// Material Overides
mat-card {
  padding: 0 !important;
  margin: 10px !important;
}

mat-card-header {
  background: $accent-color;
  height: 50px;
}

mat-card-title {
  padding: 10px 10px 10px 0;
}

mat-card-content {
  padding: 10px;
}

mat-icon {
  margin-right: 10px;
}

.mat-card-header {
  width: 100%;
}

.mat-tab-label {
  opacity: 1 !important;
  color: $primary-color-text;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  color: $primary-color-text;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: $accent-color;
}
